.backImage {
    backgroundImage: url('../../assets/images/earthImage.png');
    /* backgroundImage: `url(${Images.earthImage})`; */
    backgroundSize: 'cover';
    backgroundRepeat: 'no-repeat';
    backgroundPosition: 'center';
}