@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: black !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}

.btn-dropdown > a {
  color: white !important;
}

.icon-nav > span {
  color: white;
}

.pastWorkSwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pastWorkSwiper img {
  display: block;
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}

.swiper-pagination > .swiper-pagination-bullet {
  background-color: #d9d9d9 !important;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: #26cb99 !important;
}

/* banner animation css */

/* .box img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

@keyframes moveImages {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

.img1 { animation: moveImages 32s infinite; }
.img2 { animation: moveImages 32s infinite 2s; }
.img3 { animation: moveImages 32s infinite 4s; }
.img4 { animation: moveImages 32s infinite 6s; }
.img5 { animation: moveImages 32s infinite 8s; }
.img6 { animation: moveImages 32s infinite 10s; }
.img7 { animation: moveImages 32s infinite 12s; }
.img8 { animation: moveImages 32s infinite 14s; }
.img9 { animation: moveImages 32s infinite 16s; }
.img10 { animation: moveImages 32s infinite 18s; }
.img11 { animation: moveImages 32s infinite 20s; }
.img12 { animation: moveImages 32s infinite 22s; }
.img13 { animation: moveImages 32s infinite 24s; }
.img14 { animation: moveImages 32s infinite 26s; }
.img15 { animation: moveImages 32s infinite 28s; }
.img16 { animation: moveImages 32s infinite 30s; } */

/* .img4 {
  opacity: 0;
}
.img7 {
  opacity: 0;
}
.img10 {
  opacity: 0;
}
.img13 {
  opacity: 0;
}
.img16 {
  opacity: 0;
}
.img5 {
  opacity: 0;
}
.img8 {
  opacity: 0;
}
.img11 {
  opacity: 0;
}
.img14 {
  opacity: 0;
}
.img6 {
  opacity: 0;
}
.img9 {
  opacity: 0;
}
.img12 {
  opacity: 0;
}
.img15 {
  opacity: 0;
}

.img1 {
  animation: opacityImages1 4s none;
}
.img4{
  animation: opacityImages2 8s none;
}

@keyframes opacityImages1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes opacityImages2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* banner animation css end */




/* header css  */
.dropdownButton {
  background-color: transparent !important;
  color: white !important;
  padding: 0px 0px 0px 0px !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}
.dropdownButton:focus {
  box-shadow: 0 0 0 0px rgba(235, 236, 240, 0.4) !important;
}

.dropDownMenu {
  margin-left: auto !important;
  display: block;
  background-color: transparent !important;
  padding: 0 !important;
  font-size: 18px !important;
}

.subnameDropdown {
  left: 0%;
  right: 0% !important;
  background-color: #575757 !important;
  border-radius: 25px !important;
  width: 85vw !important;
  z-index: 9999999 !important;
  transform: translate(-60%);
}

.subLinkTitle:hover {
  background-color: #3c828e;
  color: white;
}

.Dropdown_menu__VJLNl.Dropdown_menu-left__Js_a5.subnameDropdown {
  max-height: 440px;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00b76e;
}

/* .subnameDropdown > ul >div > div> div > div> div > p */

@media screen and (min-width: 1200px) and (max-width: 1450px) {
  .subnameDropdown {
    left: 0%;
    right: 0% !important;
    width: 60vw !important;
    transform: translate(-50%);
  }
}
@media screen and (min-width: 1451px) and (max-width: 1699px) {
  .subnameDropdown {
    left: 0%;
    right: 0% !important;
    width: 75vw !important;
    transform: translate(-50%);
  }
}
@media screen and (min-width: 1700px) and (max-width: 2400px) {
  .subnameDropdown {
    left: 0%;
    right: 0% !important;
    width: 60vw !important;
    transform: translate(-50%);
  }
}
@media screen and (min-width: 2401px) and (max-width: 3400px) {
  .subnameDropdown {
    left: 0%;
    right: 0% !important;
    width: 50vw !important;
    transform: translate(-50%);
  }
}

.subLinkDropdown {
  background-color: #575757 !important;
  border-radius: 25px;
}

.subLinkDropdown > ul > li:hover {
  background-color: #3c828e;
}

/* header css end */