.videoBtn {
  background-color: transparent;
  border: 1px solid #26cb99;
  border-radius: 0px;
  padding: 10px 16px;
  color: #26cb99;
}

.videoBtn:hover {
  background-color: #26cb99;
  border: 1px solid #26cb99;
  color: white;
}

.arrowBtn {
  background-color: #26cb99;
  padding: 10px 22px;
  color: white;
  border: 1px solid #26cb99;
}

.arrowBtn:hover {
  background: transparent !important;
  border: 1px solid #26cb99;
  color: #26cb99;
}
.arrowIcon {
  transition: all 1s ease-in-out;
}
.arrowBtn:hover .arrowIcon {
  transition: all 1s ease-in-out;
  transform: translateX(12px);
}
